@font-face {
    font-family: Poppins-Regular; src: url('fonts/Poppins-Regular.ttf');
}
#head {
    font-family: Poppins-Regular, sans-serif;
    color: #000000;
    text-align: center;
    margin-top: 2%;
    
}
body{
    background-color: #ffffff;
}



.menubutton{
    display: flex;
    flex-direction: row;
    min-height: 20vh;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: Poppins-Regular, sans-serif;
    opacity: 1;
}

#btn-1{
    width: 300px;
    height: 100px;
    border: none;
    color: white;
    background-color: #FD5E53;
    transition: ease-out 0.5s;
    font-size: 1.5rem;
    outline: 0 !important;
    font-family: Poppins-Regular, sans-serif;
}

#btn-1:hover, #btn-2:hover{
    box-shadow: inset 300px 0 0 0 #ffffff;

}

#btn-2{
    width: 100px;
    height: 100px;
    border: none;
    color: black;
    background-color: black;
    transition: ease-out 0.5s;
    font-size: 1rem;
    outline: 0 !important;
    font-family: Poppins-Regular, sans-serif;
}

#staircase{
    height: 90%;
    max-width: 90%;
    opacity: 1;
    margin-top: 50px;
    margin-bottom: 50px;
}

#background{
    background-color: black;
}

.description{
    font-family: Poppins-Regular, sans-serif;
    color: white;
}

.transition-fade{
    opacity: 1;
    transition: 200ms;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
}

html.is-leaving .transition-fade{
    opacity: 0;
    transform: translateX(0);

}